/* boardDetail.scss */

//스크롤 숨기기
.BoardDetail-comments::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.BoardDetail-container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
//////

.BoardDetail-container {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  height: 500px;
  border: 1px solid #858585;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  position: relative;
  overflow: visible;
  overflow-y: scroll;
}

.BoardDetail-userImg {
  position: absolute;
  top: 10px;
  width: 40px; /* 이미지 너비 설정 */
  height: 40px; /* 이미지 높이 설정 */
  border-radius: 50%; /* 이미지를 동그랗게 만듦 */
}

.BoardDetail-userName {
  position: absolute;
  top: 20px;
  left: 60px;
  font-weight: bold;
}

.BoardDetail-editButton,
.BoardDetail-deleteButton {
  padding: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.5s ease;
  color: white;
  position: absolute;
  top: 20px;
}

.BoardDetail-editButton {
  background-color: #4caf50; // 수정 버튼 배경색
  right: 60px;

  &:hover {
    background-color: #317132; // 마우스 호버 시 배경색 변경
  }
}

.BoardDetail-deleteButton {
  background-color: #f44336; // 삭제 버튼 배경색
  right: 15px;

  &:hover {
    background-color: #a22c24; // 마우스 호버 시 배경색 변경
  }
}

.BoardDetail-boardImg {
  position: absolute;
  top: 60px;
  justify-content: center;
  width: 80%;
  height: 250px;
  border-radius: 10px;
  left: 9%;
}

// Add these styles in your boardDetail.scss file

.BoardDetail-prevButton,
.BoardDetail-nextButton {
  position: absolute;
  top: 37%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  img {
    width: 20px; // Adjust the size of the arrow icon
    height: 20px;
  }
}

.BoardDetail-prevButton {
  left: 10px;
}

.BoardDetail-nextButton {
  right: 10px;
}

.BoardDetail-likeImg {
  cursor: pointer;
  position: absolute;
  top: 320px;
  width: 30px;
}

.BoardDetail-likeNum {
  position: absolute;
  top: 323px;
  left: 44px;
  font-weight: 800;
}

.BoardDetail-boardText {
  position: absolute;
  top: 350px;
  left: 20px;
  height: 30px;
  font-weight: 600;
}

.BoardDetail-commentNum {
  position: absolute;
  top: 380px;
  left: 15px;
  height: 30px;
  font-style: oblique;
  font-size: 10px;
  color: #858585;
}

.BoardDetail-comments {
  position: absolute;
  top: 385px;
  left: 20px;
  height: 85px;
  width: 95%;
  overflow: hidden;
  overflow-y: scroll;
}

.BoardDetail-comments p {
  display: flex;
  height: 20px;
}

.BoardDetail-commentUserName {
  width: 35px; /* 이미지 너비 설정 */
  height: 25px; /* 이미지 높이 설정 */
}

.BoardDetail-comments p span {
  margin-left: 5px;
}

.BoardDetail-commentInput {
  display: flex;
  margin-top: 470px;
  height: 30px;

  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
  }

  button {
    padding: 10px;
    background-color: #34db71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    align-content: center;
    transition: background-color 0.5s ease;

    &:hover {
      background-color: rgb(21, 188, 77);
    }

    img {
      width: 15px;
    }
  }
}
