@import "./utils.scss";


$main-content-width: 90%;
$main-content-color: white;
$box-shadow: 0 0 10px rgb(213, 213, 213);

body {
  margin: 0;
  background-color: $bg-color;
  padding-top: 7vh;
  padding-bottom: 7vh;

}
// body에 margin 8px가 들어있는데 어디있는 지 모르겠음

// a 태그 초기화
a {
  color: #000000;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active {
  text-decoration: none;
  color: #000000;
  background-color: #f59000;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weather-container {
  width: $main-content-width;
  height: 5em;
  background-color: $main-content-color;
  margin-top: 10px;
}

.todayboard-container {
  width: $main-content-width;
  height: 5em;
  background-color: $main-content-color;
  margin-top: 10px;
}

.dignose-container {
  width: $main-content-width;
  height: 10vh;
  background-color: $main-content-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  margin-top: 10px;
  border-radius: 10px;
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    p {
      margin: 0;
      font-size: 0.9em;
    }
    img {
      width: 2em;
    }
  }
}

.chatAI-container {
  width: $main-content-width;
  height: 10vh;
  background-color: $main-content-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: $box-shadow;
  margin-top: 10px;
  border-radius: 10px;
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    p {
      margin: 0;
      font-size: 0.9em;
    }
    img {
      width: 2em;
    }
  }
}
